<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Flow - Project Layout</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin-report.css">
</head>
<body>
<div class="layout">
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="/static/images/flow.svg" alt="Task Flow Logo">
            <div class="title">Task Flow Admin</div>
        </div>
        <div class="auth-buttons">
            <button id="users-button" onclick="window.location.href='http://localhost:8080/admin/users'">Пользователи</button>
            <button id="profile-button" onclick="redirectToProfile()">Profile</button>
        </div>
    </header>

    <!-- Breadcrumb -->
    <div class="breadcrumb">
        <ul>
            <li><a href="/admin/projects" class="home-link">Home</a></li>
            <li class="current-page">Reports</li>
        </ul>
    </div>

    <!-- Content -->
    <main>
        <div class="main-container">
            <h1 class="text recommendation">Отчеты</h1>
            <div class="content-main">
                <div id="track-list"></div>
                <form  id="report" class="report">

                    <button type="submit" class="button" title="Get history as report">Получить отчеты</button>

                    <input class="radio" type="radio" id="artist" name="format" value="pdf">
                    <label for="artist" class="radio-text">PDF</label>

                    <input class="radio" type="radio" id="album" name="format" value="excel">
                    <label for="album" class="radio-text">Excel</label>

                </form>
                <button type="submit" class="button" id="export" title="Export json file from DB">Экспорт JSON</button>
                <form class="import-form" id="import" enctype="multipart/form-data">
                    <label class="form-field">
                        <input type="file" placeholder="JSON" name="json" accept="application/json">
                    </label>
                    <button class="button send" type="submit" title="Import json file to DB">Импорт</button>
                </form>
            </div>
        </div>
    </main>



    <!-- Footer -->
    <footer class="footer">
        © <span id="year"></span> Created by Task Flow Team
    </footer>
</div>

<!-- Подключение JavaScript -->
<script src="/static/js/admin-report.js"></script>
</body>
</html>