<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Flow - Reset Password</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/forgotPass.css">
</head>
<body>
<header class="header">
  <div class="logo">
    <img src="/static/images/flow.svg" alt="Task Flow Logo">
    <div class="title">Task Flow</div>
  </div>
</header>

<main class="content-wrapper">
  <h2>Сброс пароля</h2>
  <form id="reset-password-form">
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <button type="submit">Сбросить пароль</button>
  </form>
</main>

<!-- Footer -->
<footer class="footer">
  © <span id="year"></span> Created by Task Flow Team
</footer>

<script src="static/js/forgotPass.js"></script>

</body>
</html>
