<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Flow - Project Layout</title>
  <!-- Подключение стилей -->
  <link rel="stylesheet" href="/static/css/projects.css">
</head>
<body>
<div class="layout">
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <img src="/static/images/flow.svg" alt="Task Flow Logo">
      <div class="title">Task Flow</div>
    </div>
    <div class="auth-buttons">
      <!-- Кнопка профиля, которая меняет действие в зависимости от наличия токена -->
      <button id="profile-button" onclick="redirectToProfile()">Profile</button>
    </div>
  </header>

  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <ul>
      <li><a href="/" class="home-link">Home</a></li>
      <li class="current-page">Projects</li>
    </ul>
  </div>

  <!-- Content -->
  <main class="content-wrapper">
    <!-- Sidebar for Projects -->

    <div class="content">
      <div class="head-project">
        <h2>My Projects:</h2>
        <button type="add-project">New Project</button>
      </div>
      <ul id="projects-list">
        <!-- Пример элемента списка проекта -->
        <li class="project-item">
          <div class="project-info">
            <h3>Project Title</h3>
            <p>Description of the project goes here. This can include details about the project.</p>
            <span class="project-date">Created on: 2024-11-29</span>
          </div>
          <button class="view-button">View Project</button>
        </li>
        <!-- Конец примера -->
      </ul>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    © <span id="year"></span> Created by Task Flow Team
  </footer>
</div>

<!-- Подключение JavaScript -->
<script src="static/js/projects.js"></script>
</body>
</html>