<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Flow - Reset Password</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/resetPass.css">
</head>
<body>
<header class="header">
  <div class="logo">
    <img src="/static/images/flow.svg" alt="Task Flow Logo">
    <div class="title">Task Flow</div>
  </div>
</header>

<main class="content-wrapper">
  <h2>Сброс пароля</h2>
  <form id="reset-password-form">
    <div class="form-group">
      <label for="new-password">Новый пароль:</label>
      <input type="password" id="new-password" name="new-password" placeholder="Введите новый пароль" required>
    </div>
    <div class="form-group">
      <label for="confirm-password">Повторите новый пароль:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Повторите новый пароль" required>
    </div>
    <button type="submit">Сбросить пароль</button>
  </form>
</main>

<!-- Footer -->
<footer class="footer">
  © <span id="year"></span> Created by Task Flow Team
</footer>

<script src="/static/js/resetPass.js"></script>

</body>
</html>
