<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/css/sign-in.css">
</head>
<body>
<div class="container">
    <h2>Вход</h2>
    <input type="text" id="username" placeholder="Username" required>
    <input type="password" id="password" placeholder="Password" required>
    <button onclick="signIn()">Войти</button>
    <div class="error-message" id="error-message"></div>
    <p>У вас нет аккаунта? <a href="/auth/sign-up">Регистрация</a></p>
    <p><a href="/forgot-password">Забыли пароль?</a></p>
</div>

<script>
    async function signIn() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const errorMessage = document.getElementById('error-message');

        try {
            const response = await fetch('/auth/sign-in', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            });

            if (!response.ok) throw new Error('Failed to log in. Please check your credentials.');

            const data = await response.json();
            localStorage.setItem('token', data.token); // Store JWT in local storage

            // Проверяем, является ли пользователь администратором
            if (username === 'admin') {
                window.location.href = '/admin/projects'; // Перенаправляем администратора на страницу администрирования
                alert("Вы вошли как Администратор")
            } else {
                window.location.href = '/projects'; // Перенаправляем обычного пользователя на главную страницу проектов
            }
        } catch (error) {
            errorMessage.textContent = error.message; // Отображаем сообщение об ошибке
        }
    }

</script>
</body>
</html>